*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(224, 10%, 10%);
}
img{
    width: 200px ;
    height:50px;
    margin-right:30px
}
nav{
    margin: 10px 40px;
    display: flex;
}
.search {
    margin: 5px;
}
.search input[type="text"]{
   height: 35px;
   padding-left: 10px;
   width: 290px;
   border: 2px solid rgb(59, 59, 59);
   border-radius: 7px;
   background-color:black ;
}
::placeholder{
    color: rgb(156, 153, 153);
    font-family: Arial, Helvetica, sans-serif;
}
.icons{
    display: flex;
    margin-left: 600px;
}
.icons img{
    height: 50px;
    width: 20px;
    margin-right: 20px;
}
.content{
    color: white;
    padding: 150px;
    display: grid;
    grid-template-columns: 60% 50%;
}
.text h1{
   /* padding: 100px; */
   font-size: 64px;
   line-height: 77px;
   font-family: Arial, Helvetica, sans-serif;
}
.img2 img{
    width: 400px;
    height: 390px;
}
.text p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 36px;
    padding-right: 200px;
    margin-top: 10px;
    color: 
    rgb(193, 195, 200);
}
.text{
    margin-top: 45px;
}
.buttons{
    margin-top:30px
}
.buttons .btn1, .btn2{
    padding: 20px 30px;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
}
.buttons .btn1{
    background-color: hsl(224, 100%, 85%)
}
.buttons .btn2{
    background-color: hsl(230, 23%, 10%);
    color: white;
    border: none;
}
#mode{
    background-color: hsl(224, 10%, 10%);
    color: white;
    border: none;
    cursor: pointer;
    padding-right: 0px  20px;
}
.lapimg{
    margin-left: 10px ;
    cursor: pointer;
}
#lang{
    background-color: hsl(224, 10%, 10%);
    border: none;
    color: white;
    padding: 20px;
    cursor: pointer;
}